@import '../abstracts/variables';
@import '../abstracts/mixins';
@import '../base/base';
@import '../components/banner';
@import '../components/button';
@import '../components/planCard';

.hero{
    height:100vh;
    min-height:70rem;
    max-height: calc(100vh - 7rem);
    width:100%;
    background-image: url('../assets/2147710985.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    color:white;
    z-index: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;

    &::before{
        content:'';
        height: 100%;
        width:100%;
        position: absolute;
        top:0;
        right:0;
        background: rgba(0, 0, 0, 0.7);
        z-index: 2;
    }
    &-title_wrapper{
        margin-top: 7rem;
    }
    &-title{
        font-size: 3.5rem;

        &_tagline{
            font-size: 2.2rem;
            color:$color-secondary-red;
        }

        @include responsive(450){
            font-size: 4rem;
        }
    }
    &-content{
        margin:6rem 0;

        @include responsive(600){
            margin: 2rem 0;;
        }
        @include responsive(900){
            margin:4rem 0;
        }
    }
    &-action{
        position: relative;

        &_btn{
            padding:1rem 2rem;
            background-color: unset;
            margin-top: 1.5rem;
            font-size: 2.2rem;
            color:$color-primary-light;
            border:1px solid $color-primary-light;
            transition:0.2s ease-out;
            visibility: hidden;
            cursor: pointer;

            &:hover{
                background-color: $color-secondary-red;
                border:1px solid $color-secondary-red;
            }

            @include responsive(600){
                font-size: 1.6rem;
            }
            @include responsive(900){
                font-size: 1.8rem;
            }
        }
        &-contact_details{
            position: absolute;
            top:-18rem;
            left:20%;
            width:70%;
            height:auto;
            display: inline-block;
            background-color: white;
            color:$color-base-dark;
            border-radius:5px;
            display: flex;
            flex-direction: column;
            visibility: hidden;
            -webkit-box-shadow: 7px 9px 31px -18px rgba(163,160,163,1);
            -moz-box-shadow: 7px 9px 31px -18px rgba(163,160,163,1);
            box-shadow: 7px 9px 31px -18px rgba(163,160,163,1);

            &-banner{
                width:100%;
                background-color: $color-primary-blue;
                color:$color-primary-light;
                justify-self: top;
                padding:1rem 2rem;
                font-size: 2.2rem;
                font-weight: 600;
            }
            &-content{
                padding:2rem;
                span, span a{
                    display: flex;
                    align-items: center;  
                }
                span{
                    margin-top: 1rem;
                }
                svg{
                    height:2rem;
                    width:2rem;
                    margin-right:1rem;
                    fill:$color-secondary-red;
                    stroke:$color-secondary-red;
                }
            }

            @include responsive(600){
                width:50%;
            }
            
            @include responsive(900){
                width:60%;
            }
        }
    }
    &-homesection{
        position: relative;
        height: 35%;
        min-height:35%;
        width:100%;
        background-image: url('../assets/constructionsite.jpg');
        background-position: center;
        background-size: cover;
        z-index: 10;
        visibility: hidden;

        @include center;
        &::before{
            content:'';
            height:100%;
            width:100%;
            position: absolute;
            top:0;
            right:0;
            background: rgba(0, 0, 0, 0.7);

        }

        &_text{
            font-size: 3rem;
            z-index:12;
            @include responsive(450){
                font-size: 4rem;
            }
            
        }

        @include responsive(900){
            height:70%;
            align-self: flex-end;
        }
    }

    @include responsive(900){
        display: flex;
        margin-top: 7rem;
        min-height:auto;
        max-height:52rem;

    }
}

.content{
    position: relative;
    color:white;
    height:65%;
    width:100%;
    max-width:100%;
    z-index: 12;
    font-size: 2rem;
    margin-top: 7rem;
    padding:0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    @include responsive(900){
        font-size: 1.8rem;
        padding:0 4rem;
    }
}

.banner{
    @include banner-colors($color-primary-light, $color-primary-blue);
    min-width:70%;
    width:auto;

    &-wrapper{
        display: flex;
        @include responsive(900){
            @include banner-place(end);
            padding:0 2rem;
        }
    }
    &-line{
        width:40%;
        height:0.8rem;
        background-color: $color-primary-blue;
        align-self: center;
    }

    @include responsive(900){
        min-width:40%;
    }
}

.plans{
    padding:2rem 0;
    max-height:65rem;
    min-height: auto;
    font-size: 1.9rem;
    display: flex;
    flex-direction: column;
    position: relative;

    &-content{ 
        width:100%;
        height:100%;

        &_wrapper{
            width:100%;
            height:50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding:3rem;
            margin-top:5rem;

            span{
                display: flex;
                align-items: center;

                svg{
                    height:2.2rem;
                    width:2.2rem;
                    margin-right:1rem;
                    color:$color-secondary-red;
                }
            }

            @include responsive(900){
                order:2;
                margin-left:5rem;
                margin-bottom:5rem;
            }
        }

        @include responsive(800){
            display: flex;
            align-items: center;
            padding:0 4rem;
        }
    }

    @include responsive(900){
        max-height:80vh;
        font-size: 1.7rem;
    }
}

.plans-images{
    min-height:45rem;
    width:100%;
    position: relative;
    overflow: hidden;

    &-image{
        height:30rem;
        width:20rem;
        top:50%;
        left:50%;
        transform: translate(-50%, -80%) rotate(90deg);
        position: absolute;
        user-select: none;

        
    }
    &-image1{
        z-index:1;
        transform: rotate(90deg) translate(-80%,30%);

        @include responsive(500){
            top:0;
            left:0;
            transform: rotate(90deg) translate(80%, -80%);
        }
        @include responsive(600){
            top:50%;
            left:50%;
            transform: rotate(90deg) translate(-100%, 30%);
        }
        @include responsive(800){
            transform: rotate(90deg) translate(-60%, 30%);
        }
        @include responsive(900){
            transform: rotate(90deg) translate(-80%,30%);
        }
    }
    &-image2{
        height:25rem;
        z-index: 3;
        transform: rotate(90deg) translate(-70%,0%);
        
        @include responsive(500){
            top:0;
            left:0;
            transform: rotate(90deg) translate(70%, -150%);
        }
        @include responsive(600){
            top:50%;
            left:50%;
            transform: rotate(90deg) translate(-110%, 10%);
        }
        @include responsive(800){
            transform: rotate(90deg) translate(-60%, 10%);
        }
        @include responsive(900){
            transform: rotate(90deg) translate(-80%,0%);
        }
    }
    &-image3{
        height:25rem;
        width:18rem;
        z-index:2;
        transform: rotate(90deg) translate(-100%,80%);

        @include responsive(500){
            top:0;
            left:0;
            transform: rotate(90deg) translate(40%, -70%);
        }

        @include responsive(600){
            top:50%;
            left:50%;
            transform: rotate(90deg) translate(-150%, 80%);
        }
        @include responsive(800){
            transform: rotate(90deg) translate(-90%, 80%);
        }
        @include responsive(900){
            transform: rotate(90deg) translate(-100%,80%);
        }
    }

    @include responsive(600){
        min-height:45rem;
    }
    @include responsive(800){
        margin-top:5rem;
        order:1;
    }
}

.tdsection{
    background-color: $color-primary-blue;
    color:$color-primary-light;
    
    &-banner{
        @include banner-colors($color-primary-blue, $color-primary-light);
    }
    .banner-wrapper{
        @include responsive(900){
            @include banner-place(start);
        }
    }
    .plans-images{
        
        &-image{
            transform: rotate(0);
        }
        &-image1{
            height:40rem;
            width:35rem;
            top:35%;
            left:50%;
            transform:translate(-50%,-50%);

            @include responsive(600){
                transform: translate(-50%, -60%)
            }
            @include responsive(900){
                transform:translate(-50%, -40%);
            }
        }
        &-image2, &-image3{
            display: none;
        }

        @include responsive(900){
            order:2;
        }
    }

    @include responsive(500){
        margin-top:20rem;
    }
    @include responsive(600){
        margin-top: 10rem;
    }
    @include responsive(900){
        margin-top:0;
    }
}

.plans{
    &-cards{
        background-color: white !important;
        padding:2rem 0;

        @include responsive(900){
            padding:4rem 0;
        }
    }
    &-card_wrapper{
        display: grid;
        place-items: center;
        grid-template-columns: repeat(1,1fr);
        margin-top:2rem;
        height:auto;
        grid-row-gap:2rem;
        padding:2rem;

        @include responsive(500){
            grid-template-columns: repeat(2,1fr);
        }

        @include responsive(900){
            grid-template-columns: repeat(3,1fr);
        }
        
    }
    &-card{
        height:50rem;
        width:70%;
        border-radius:8px;
        color:$color-primary-blue;
        overflow: hidden;
        -webkit-box-shadow: 7px 9px 31px -18px rgba(163,160,163,1);
        -moz-box-shadow: 7px 9px 31px -18px rgba(163,160,163,1);
        box-shadow: 7px 9px 31px -18px rgba(163,160,163,1);

        &-image_container{
            height:65%;
            background-color: white;
        }
        &-info{
            height:35%;
            width:100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-top:0.5rem;
            background-color: $color-primary-blue;
            color:$color-primary-light;
            font-size: 1.5rem;

            svg{
                height:1.8rem;
                width:1.8rem;
                color: $color-secondary-red;
            }
            span{
                display: flex;
                align-items: center;
                margin:0 1rem;
            }
        }
        &-btn{
            width: 100%;
            height:4rem;
            background-color: rgb(8, 155, 8);
            color:$color-primary-light;
            padding:1rem 2rem;
            border:none;
            justify-self: end;
            cursor: pointer;
            text-align: center;display: flex;
            align-items: center;
            justify-content: center;
            border:2px solid transparent;
            border-end-start-radius:8px;
            border-end-end-radius:8px;

            &:hover{
                background-color: $color-primary-light;
                color:rgb(8, 155, 8);
                border-color:rgb(8, 155, 8);
            }
        }

        @include responsive(900){
            height:40rem;
        }
    }
}

.services{
    .banner{
        @include banner-colors($color-primary-light, $color-primary-blue)
    }
    .banner-wrapper{
        @include banner-place(start);
    }
    .plans-content_wrapper{
        padding:8rem 0;
        padding-left:2rem;
        overflow: hidden;

        @include responsive(900){
            height:40rem;
        }
    }
    &-border_box{
        width:110%;
        border:2px solid $color-primary-blue;
        color:$color-base-dark;
        padding:2rem 1rem;
        font-weight: 500;
        margin-top: 4rem;
        z-index:-1;

        p{
            border-bottom:1px solid $color-secondary-red;
            display: inline-block;
        }

        @include responsive(900){
            width:80%;
            margin-top: 12rem;
            border-width: 3px;
        }
    }
    &-image{
        display: none;
        z-index: 4;
       
    }
    @include responsive(900){
        &-image{
            display: block;
            position: absolute;
            top:0;
            right:0;
            height:90%;
            width:50%;
            visibility: hidden;
    
            img{
                width:100%;
                height: 100%;
            }
    
            &::before{
                content:'';
                position: absolute;
                background-color: rgba(0, 0, 0, 0.7);
                width:100%;
                height:100%;
                z-index:5;
            }
        }
    }
}

.footer{
    min-height:35rem;
    height: auto;
    width:100%;
    background-color: $color-base-dark;
    color:$color-primary-light;
    font-size: 1.8rem;
    padding:2rem;
    z-index:3;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    &_data{
        height:100%;
        width:100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2,1fr);
        padding:2rem 1rem;
        grid-row-gap: 3rem;
        &-contact{
            color:$color-secondary-red;
        }
        @include responsive(600){
            grid-template-rows:repeat(1,1fr);
            place-items: center;
        }
        @include responsive(800){
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows:repeat(1, 1fr);
            place-items: center;
        }
    }
    &-company_info{
        grid-column: 1/ span 2;
        align-self: self-start;
        width:100%;

        span{
            color:$color-secondary-red;
            display: flex;
            align-items: center;
            color:$color-primary-light;
        }

        &-title{
            margin-bottom:2rem;
            
            p:last-child{
                color:$color-secondary-red;
                margin:0;
            }
            h2{
                font-size: 2rem;

                @include responsive(900){
                    font-size: 2.3rem;
                }
            }
            
        }
        &-info{
            svg{
                height:2rem;
                width:2rem;
                color:$color-secondary-red;
                margin-right:1rem;
            }
        }

        @include responsive(600){
            grid-column: 1/ span 1;
        }
    }
    &-links{
        grid-row:2/span 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;

        a{
            margin:0.7rem 0;

            &:hover{
                text-decoration: underline;
            }
        }

        @include responsive(600){
            grid-column:2/span 1;
            grid-row:1;
            height:100%;
        }
    }
    &-socials{

        grid-row: 2/span 1;

        &_title{
            display: inline-block;
            margin-bottom:2rem;
            padding:0.5rem 0;
            border-bottom:1px solid white;
        }
        &_links{
            width:100%;
            display: flex;

            svg{
                height:3rem;
                width:3rem;
                fill:$color-secondary-red;
                margin-right:2rem;
                cursor: pointer;
            }
        }

        @include responsive(600){
            grid-column:3/span 1;
            grid-row:1;
            height: 100%;
        }
    }
    &-copyright{
        display: flex;
        flex-direction: column;
        color:$color-primary-light;
        text-align: center;

        a{
            color:$color-secondary-red;
        }
        @include responsive(600){
            margin-top: 5rem;
            flex-direction: row;
        }
    }
    .prop-title{
        color:$color-secondary-red;
        margin-left:1rem;
    }

    @include responsive(900){
        min-height:33rem;
        max-height:35rem;
        padding:0rem 4rem;
        padding-top:2rem;
        font-size: 1.5rem;
    }
}
